_minted-rubric/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
auto/
/resit-2019-20/rubric.pdf
/resit-2019-20/rubric.synctex.gz
/2019-20/rubric.pdf
/2019-20/rubric.synctex.gz
/2019-20/code/gemm
/2019-20/code/optimised-gemm.o
*.run.xml
Checklist 1.docx
